<button
  type="button"
  class="recorder-button"
  {{on "click" this.handleClick}}
  {{on "mouseup" this.startDragging}}
  style={{html-safe (concat "transform: " this.transformStyle)}}
>
  <svg 
    viewBox="0 0 60 60" 
    class="recorder-svg"
  >
    <circle cx="30" cy="30" r="25" fill="#FF6B6B"/>
    <path d="M20 22 L40 30 L20 38 Z" fill="white"/>
  </svg>
</button>