<div class="assertions-container">
  <h2>Assertions Examples </h2>
  <h3>Turn on the Assertion Mode to see the assertions else it record as the click event</h3>

  <div class="assertion-examples">
    <div class="example-block" data-test-section="text-assertions">
      <h3>Text Content Assertions (Assert OK)</h3>
      <p data-test-content="description">Check element is present or not using the assertion handlers</p>
      <p data-test-text="simple text assertions">Simple text to assert</p>
    </div>

    <div class="example-block" data-test-section="text-value-assertions">
      <h3>Assertions with Matching text (Assert DOM)</h3>
      <p data-test-text="matching text assertions">Matching text assertions</p>
    </div>

  </div>
</div> 